{
  "botID": "",
  "roles": {
    "adminID": "",
  },
  "guilds": {
    "guildID": "",
    "welcomeChannelID": "",
    "leaveChannelID": "",
    "dynamicChannelCreatorID": "",
  },
  "valorants": {
    "attackerChannelID": "",
    "defenderChannelID": "",
    "maps": [
      "深海遺珠",
      "極地寒港",
      "劫境之地",
      "雙塔迷城",
      "蓮華古城",
      "天漠之峽",
      "熱帶樂園",
      "遺落境地",
      "義境空島",
      "日落之城",
      "深窟幽境"
    ],
    "agents": [
      "Iso",
      "Clove",
      "Brimstone",
      "Phoenix",
      "Sage",
      "Sova",
      "Viper",
      "Cypher",
      "Reyna",
      "Killjoy",
      "Breach",
      "Omen",
      "Jett",
      "Raze",
      "Skye",
      "Yoru",
      "Astra",
      "KAY/O",
      "Chamber",
      "Neon",
      "Fade",
      "Harbor",
      "Gekko",
      "Deadlock"
    ]
  },
  "fortune": {
    "fortunes": [
      { "name": "大吉", "exp": 12 },
      { "name": "中吉", "exp": 8 },
      { "name": "小吉", "exp": 5 },
      { "name": "吉", "exp": 3 },
      { "name": "平", "exp": 0 },
      { "name": "凶", "exp": -1 },
      { "name": "小凶", "exp": -2 },
      { "name": "中凶", "exp": -3 },
      { "name": "大凶", "exp": -5 }
    ]
  },
  "teacherSays": [
    "弱",
    "沒有用的東西",
    "上課不可以用電腦",
    "這樣很不尊重老師",
    "你們家長同意你們早退我沒有意見"
  ]
}
